<%- include('header') %>
<div class="result">
    <% if(error){ %>
    <%= error %>
    <% }else{ %>
        US$ <%= quantity %> in cotation <%= cotation %> = R$ <%= conversion %>
    <% } %>
</div>
<%- include('footer') %>